:root {
    --primary: #2374E1;
    --dark: #18191A;
    --success: #2C9244;
    --semi-dark: #242526;
    --soft-dark: #3A3B3C;
    --warning: #F8C03E;
    --text: #E4E6EB;
    --text-gray: #B8BBBF;
    --danger: #E41E3F;
    --text-light: #ffffff;
    --message-hover: #4E4F50;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark);
    /* overflow-y: scroll; */
    /* min-width: 100vh; */
    overflow: hidden;
}

/* for navigation bar */
.nav {
    background-color: var(--semi-dark);
    display: flex;
    align-items: center;
}

/* left */
.left {
    width: 25%;
    display: flex;
}

.search-box {
    width: 70%;
    display: flex;
    align-items: center;
    background-color: var(--soft-dark);
    border-radius: 100px;
    padding: 10px;
    margin: 10px 5px;
}

.logo {
    width: 60px;
}

.search-icon {
    color: var(--text-gray);
    margin: 0 5px;
}

.search-input {
    background-color: var(--soft-dark);
    outline: none;
    border: none;
    color: var(--text-gray)
}

/* middle */

.middle {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.middle-link {
    width: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 3px solid var(--semi-dark);
    /* margin-right: 15px; */
}

.middle-link.last {
    margin-right: 30px;
}

.middle-icon {
    color: var(--text);
    font-size: 25px;
}

.noti {
    background-color: var(--danger);
    font-weight: bold;
    color: var(--text-light);
    border-radius: 8px;
    padding: 5px;
    font-size: 10px;
    position: absolute;
    top: 0px;
    right: 16px;
}

.middle-link.active {
    border-bottom-color: var(--primary);
}

.middle-icon.active {
    color: var(--primary)
}

.middle-link:hover {
    background-color: var(--soft-dark);
    border-radius: 10px;
}

.middle-link.active:hover {
    background-color: var(--semi-dark);
    border-radius: 0;
}

/* right */
.right {
    width: 25%;
    display: flex;
    justify-content: flex-end
}

.profile-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 10px 15px;
}

.messaging {
    display: flex;
}

.message {
    width: 33px;
    height: 33px;
    background-color: var(--soft-dark);
    border-radius: 50%;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-icon {
    color: var(--text);
}

.profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-name {
    font-weight: bolder;
    color: var(--text);
}

.profile-box:hover {
    background-color: var(--soft-dark);
    border-radius: 30px
}

.message:hover {
    background-color: var(--message-hover);
}

/* for facebook body */
.body {
    display: flex;
}

.left-body {
    width: 25%;
    height: 100vh;
    overflow-y: scroll;
    margin-right: 10px;
    margin-top: 25px;
}

.acc1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--dark);
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
    margin-bottom: 5px;
}

.shortcuts {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    margin-bottom: 5px;
    color: var(--text-gray);
    font-weight: bolder;
    font-size: 20px;
}

.khat {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 8px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--semi-dark);
}

.acc-name {
    color: var(--text);
    font-weight: bolder;
}

.acc1:hover {
    background-color: var(--semi-dark)
}

/* scroll bar */
.left-body::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.left-body::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.left-body::-webkit-scrollbar-thumb {
    background: var(--soft-dark);
    border-radius: 10px;
}

/* newsfeed */
.newsfeed {
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
    /* position: relative;  */
}

/* scroll bar */
.newsfeed::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.newsfeed::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.newsfeed::-webkit-scrollbar-thumb {
    background: var(--soft-dark);
    border-radius: 10px;
}

/* myday */
.myday {
    display: flex;
    margin-top: 25px;
}

.story {
    position: relative;
    width: 18%;
    height: 30vh;
    background-color: var(--semi-dark);
    border-radius: 15px;
    overflow: hidden;
}

.mypic {
    width: 100%;
}

.add-story {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 4px solid var(--semi-dark);
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 55px;
    left: 30px;
    color: var(--text-light);
}

.create-text {
    color: var(--text-light);
    text-align: center;
    margin-top: 30px;
}

.story-owner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 5px solid var(--primary);
    position: absolute;
    top: 10px;
    left: 10px;
}

.stories {
    position: relative;
    width: 19%;
    height: 30vh;
    background-color: var(--semi-dark);
    border-radius: 15px;
    margin-left: 15px;
    overflow: hidden;
    background-size: cover;
    background-position: center;

}

.name {
    margin-top: 145px;
    color: var(--text-light);
    text-align: center
}

.stories::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid var(--semi-dark);
    background-color: var(--success);
    position: absolute;
    top: 35px;
    left: 38px;
}

.next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--soft-dark);
    color: var(--text-gray);
    position: absolute;
    top: 25vh;
    right: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stories:hover {
    opacity: 0.7;
}

.story:hover {
    opacity: 0.7;
}

/* timeline */
.timeline {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.add-post {
    width: 100%;
    background-color: var(--semi-dark);
    border-radius: 10px;
    overflow: hidden;
}

.add-post-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-post .profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.text-box {
    width: 80%;
}

.text-input {
    width: 100%;
    background-color: var(--soft-dark);
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 10px;
    margin: 15px 0;
    font-size: 18px;
    color: var(--text);
}

.divider {
    height: 1px;
    background-color: var(--soft-dark)
}

.add-post-media {
    display: flex;
    justify-content: center;
    background-color: var(--semi-dark);
    padding: 10px
}

.media-link {
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
}

.media-link:hover {
    background-color: var(--soft-dark);
    border-radius: 10px
}

.live {
    color: var(--text);
    font-weight: bold;
    margin-left: 5px;
}


.live-icon {
    color: var(--danger)
}

.video-icon {
    color: var(--success)
}

.feeling-icon {
    color: var(--warning)
}

/* active now */
.actives {
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--semi-dark);
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.room {
    width: 30%;
    border: 1px solid var(--primary);
    padding: 10px;
    border-radius: 50px;
    margin-right: 15px;
}

.room-icon {
    color: #AC5FBD;
    margin-right: 5px;
}

.room-text {
    color: var(--text);
    font-weight: bold;
}

.active-acc {
    display: flex;
}

.active-person {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-left: 15px;
    position: relative;
}

.next-active {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--soft-dark);
    color: var(--text-gray);
    position: absolute;
    top: 10px;
    right: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-person::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid var(--semi-dark);
    background-color: var(--success);
    position: absolute;
    top: 25px;
    left: 30px;
}

.post1 {
    width: 100%;
    background-color: var(--semi-dark);
    border-radius: 10px;
    margin-top: 20px;
    padding: 8px;
}

.post-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-left: 15px;
    position: relative;
}

.fact {
    font-size: 15px;
    color: var(--text-gray);
    flex-grow: 8;
    padding: 10px;
}

.acc {
    margin-bottom: 8px;
}

.more {
    color: var(--text-gray);
}

.caption {
    margin-top: 10px;
    color: var(--text);
    padding: 8px;
}

.pone {
    width: 100%;
    background-size: contain;
    background-position: center;
    height: 90vh;
    background-repeat: no-repeat;
}

.interactions {
    display: flex;
    padding: 10px 0;
}

.reaction {
    display: flex;
    position: relative;
}

.haha-container {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--warning);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.haha {
    color: var(--warning)
}

.heart-container {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--danger);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 18px;
    z-index: 1;
}

.heart {
    color: var(--text-light);
    font-size: 10px;
}

.like-container {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 35px;
}

.like {
    color: var(--text-light);
    font-size: 13px;
}

.comment,
.reactors {
    color: var(--text-gray);
}

.reactors {
    margin-left: 60px;
    flex-grow: 7;
}

.activities {
    display: flex;
    padding: 5px;
    color: var(--text-gray);
}

.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border: 1px solid var(--semi-dark);
    padding: 10px;
    border-radius: 10px
}

.give-comment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border: 1px solid var(--semi-dark);
    padding: 10px;
    border-radius: 10px
}

.share {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border: 1px solid var(--semi-dark);
    padding: 10px;
    border-radius: 10px
}

.thumb:hover {
    background-color: var(--soft-dark);
}

.give-comment:hover {
    background-color: var(--soft-dark);
}

.share:hover {
    background-color: var(--soft-dark);
}

.comment-section {
    display: flex;
    align-items: center;
    padding: 5px;
}

.write-comment {
    width: 90%;
    background-color: var(--soft-dark);
    padding: 5px;
    border-radius: 50px;
    margin-left: 10px;
}

.comment-input {
    background-color: var(--soft-dark);
    width: 75%;
    border: none;
    outline: none;
    color: var(--text-gray);
    font-size: 15px;
    padding: 5px;
}

.write-comment i {
    color: var(--text-gray);
    margin-left: 5px;
}

/* right */
.right-body {
    width: 22%;
    height: 100vh;
    overflow-y: scroll;
    margin: 0 25px;
    margin-top: 25px;
    padding: 10px;
}

.sponsors {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid var(--dark);
    border-radius: 5px;
    overflow-y: hidden;
    margin-right: 5px;
    align-items: center;
    padding: 10px;
}

.sponsors:hover {
    background-color: var(--soft-dark);
}

.sponsor-text {
    width: 60%;
    font-weight: bolder;
    color: var(--text-gray);
    font-size: 20px;
}

.sponsor-pto {
    width: 40%;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.source {
    color: var(--text);
    font-weight: bolder;
    margin-left: 20px;
}

.right-body::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.right-body::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.right-body::-webkit-scrollbar-thumb {
    background: var(--soft-dark);
    border-radius: 10px;
}

.khat1 {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 8px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--semi-dark);
    position: relative;
}

.khat1::after {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid var(--semi-dark);
    background-color: var(--success);
    position: absolute;
    top: 15px;
    left: 20px;
}